/mobile/node_modules
/mobile/android
/mobile/ios
/mobile/eas-inspect
/mobile/.expo
/mobile/dist
/mobile/caches
/mobile/.metro-virtual

/store-mobile/node_modules
/store-mobile/android
/store-mobile/ios

.git
.expo
dist
build
*.apk
*.aab
*.ipa
*.mp4
*.mov
*.zip
*.log